# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
server

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build/
vcpkg_installed

# Compiled binaries
Server
redis-server
test-replication
test-rdb
test-pubsub
test-sorted-sets
test-geo
test-*

# Object files
*.o
*.a

# Debug symbols
*.dSYM/

# IDE directories
.vscode/
.idea/
.codecrafters/

# System files
.DS_Store

# RDB files
*.rdb

# Temporary directories
/tmp/

wait_debug.txt

.codecrafters
.vscode

